{% extends 'NormalPage.html' %}
{% block title %}
    <title>list</title>
{% endblock %}

{% block body_block %}

<style>
    body {
        box-sizing: border-box;
    }
    .card {
        display: inline-block;
        width: 300px;
        margin-right: 10px;
        margin-top: 50px;        
    }

    .card-text {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: justify;    
    }
    .card-title{
        margin-left: -200px;
    }
    h5{
        margin-left: -220px;
    }
    .more{
        margin-left: -200px;
    }
    
</style>

      {% for i in data %}
    <div class="card" style="width: 300px;">
        <img  src="{{i.bird_pic}}" class="card-img-top" alt="..." style="height: 200px; width:300px">
        <div class="card-body">
          <h5 class="card-title" ><a class="btn btn-primary" href="{{i.bird_name}}">{{i.bird_name}}</a></h5>
          <h5>By {{i.username}} </h5>
          <p class="card-text">{{i.about}}</p>
            
          <a href="#" class="more btn btn-primary">More</a>
        
            </div>
      </div>

      {% endfor %}


{% endblock %}